#gamerLeft-window {
    position: absolute;
    z-index: 3;
    width: 566px;
    height: 304px;
    background-color: #F4E8D8;
    border: solid 4px #499452;
    border-radius: 30px;
    font-family: "Acme", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

#gamerLeft-window h1 {
    color: #0F6819;
    font-size: 50px;
    margin: 0;
}

#gamerLeft-window p {
    color: #0F6819;
    font-size: 20px;
    margin: 0;
    padding: 0px 45px;
}