body, html {
	font-family: Arial, sans-serif;
	margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    position: absolute;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.game-container {
    background-image: url("./assets/hud/background/xadrezFundo.png");
    background-repeat: no-repeat;
    background-size: auto;
    width: 512px;
    height: 512px;
    margin: 0;
    image-rendering: pixelated;
}

.game-container canvas {
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    image-rendering:crisp-edges;
}

.pecas-capturadas {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.left {
    margin-right: 100px;
    margin-left: 120px;
}

.right {
    margin-left: 100px;
    margin-right: 85px;
}

.image {
    background-color: #F4E8D8;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: solid 4px;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.retangulo {
    border: solid 3px;
    width: 158px;
    height: 379px;
    image-rendering: pixelated;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px 12px;
    gap: 31px;
    flex-direction: column;
    flex-wrap: wrap;
}

.retangulo img {
    scale: 2;
}

.red, .redB {
    border-color: #BD3120;
}

.blue, .blueB {
    border-color: #206AD8;
}

.imageBlue {
    background-image: url("./assets/hud/images/blueImage.png");
}

.imageRed {
    background-image: url("./assets/hud/images/redImage.png");
}

.right .retangulo {
    border-radius: 18px 18px 0px 0px;
}

.left .retangulo {
    border-radius: 0px 0px 18px 18px;
}

.escurecer {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
}

