/* body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#messages {
    border: 1px solid #ccc;
    padding: 10px;
    height: 250px;
    overflow-y: auto;
    margin-bottom: 10px;
}

input {
    width: 70%;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
} */

body, html {
	font-family: Arial, sans-serif;
	margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    position: absolute;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.game-container {
    background-image: url("./assets/hud/background/xadrezFundo.png");
    background-repeat: no-repeat;
    background-size: auto;
    width: 512px;
    height: 512px;
    margin: 0;
    image-rendering: pixelated;
}

.game-container canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.pecas-capturadas {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.left {
    margin-right: 148px;
    margin-left: 180px;
}

.right {
    margin-left: 148px;
    margin-right: 135px;
}

.image {
    background-color: #F4E8D8;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: solid 4px;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.retangulo {
    border: solid 3px;
    width: 70px;
    height: 409px;
}
.red {
    border-color: #BD3120;
}

.blue {
    border-color: #206AD8;
}

.right .image {
    background-image: url("./assets/hud/images/blueImage.png");
}

.left .image {
    background-image: url("./assets/hud/images/redImage.png");
}

.right .retangulo {
    border-radius: 18px 18px 0px 0px;
}

.left .retangulo {
    border-radius: 0px 0px 18px 18px;
}

.escurecer {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
}

.teste {
    position: absolute;
    z-index: 2;
}

